body {
    background: #e4ffc8;
    color: #6B7F53;
}

.verde-principal {
    background: #B2FF59;
}

.verde-claro {
    background: #D5FFA5;
}

.purple-btn {
    background: #9C1BB2;
    border: none;
}